table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 70%;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
.submitButton {
    display: block;
    margin: 8px auto auto auto;
    padding: 10px;
    width: 200px;
    text-align: center;
}
.returnButton {
    display: block;
    margin: 8px auto auto auto;
    padding: 5px;
    width: 160px;
    text-align: center;
}
