table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
.submitButton {
    display: block;
    margin: 8px auto auto auto;
    padding: 5px;
    width: 120px;
    text-align: center;
}