table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 70%
}
th, td {
    padding: 7px;
}
th {
    text-align: center;
}
.successMsg {
    color: green;
}
.notification {
    font-style: italic;
}
.studentAnswer {
    width: 500px;
    border: 2px solid black;
    padding: 50px;
    margin: 10px;
}
.selectedChoice {
    font-weight: bold;
}
.fudgePoints {
    font-size: 18px;
}
.submitButton {
    display: block;
    margin: 8px auto auto auto;
    padding: 5px;
    width: 120px;
    text-align: center;
}