.menu ul
{
    float: left;
}

.menu ul li {
    list-style: none;
    postion: absolute;
    padding: 7px;
}

.menu ul li a {
    color: black;
    font-size: 16px;
    padding: 8px 6px;
    text-decoration: none;
}

.menu ul li ul{
    display: none;
    padding: 10px;
    position: absolute;
    background: gray;
}

.menu ul li:hover ul{
    display: block;
}

.menu ul li ul a{
    padding: 6px 14px;
}

.menu ul li ul a:hover {
    background-color: yellow;
}
